@font-face {
    font-family: "Outfit-Black";
    src: url(Assets/Font/Outfit-Black.ttf);
}
@font-face {
    font-family: "Outfit-Medium";
    src: url(Assets/Font/Outfit-Medium.ttf);
}


::-webkit-scrollbar{
    display: none;
}


*{
    margin: 0%;
}


.container{
    width: 100%;
    min-height: 200vh;
}

/* Nav Bar */

.nav-bar{
    

    background-color: #222831;
    border-bottom: 1px solid white;;

    display:flex;

    justify-content: center;
    align-items: center;
    align-content: center;


    width: 100%;
    min-height: 6vh;
}
.nav-bar button{
    color: white;
    transition: 0.3s;

    margin-left: 15vh;
    margin-right: 15vh;

    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 2vh;
    width: 20vh;
    height: 10vh;
    font-size: 20px;

    font-family: "Outfit-Medium" ,sans-serif;
}
.nav-bar button:hover{

    margin-left: 15vh;
    margin-right: 15vh;

    cursor:pointer;

    color: #FFD369;

    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 2vh;
    width: 20vh;
    height: 5vh;
    font-size: 22px;

    font-family: "Outfit-Medium" ,sans-serif;
}


/* Page Top*/
.page-top{
    background-color: #222831;
    display: flex;

    width: 100%;
    min-height: 90vh;
    float: left;

    justify-content: center;
    align-items: center;
    align-content: center;
}

.page-top div.title-holder{
    margin-left: 5vh;
    width: 50%;
    min-height: 75vh;
}
.page-top div.title-holder h1{
    color: #FFD369;

    margin: 4vh;
    font-size: 140px;
    font-family: "Outfit-Black" ,sans-serif;
}
.page-top div.title-holder p{
    color: white;
    margin: 4vh;
    font-size: 20px;
    font-family: "Outfit-Medium" ,sans-serif;
}


.model-holder{
    display: flex;
    
    justify-content: center;
    align-items: center;
    align-content: center;


    width: 50%;
    min-height: 50vh;
}

.modelvw-bg{
    background: #222831;;
    border-radius: 100vh;
    box-shadow: 0px 0px 8px white;
    display: flex;

    width: 50%;
    min-height: 50vh;

    justify-content: center;
    align-items: center;
    align-content: center;
}


model-viewer {
    display: flex;

    width: 100%;
    min-height: 30vh;
    background-color: transparent;



    --progress-bar-color: transparent;

}


/* Page Mid*/

.page-mid{
    background-color: #222831;
    display: flex;
    width: 100%;
    min-height: 100vh;
    float: left;

    justify-content: center;
    align-items: center;
    align-content: center;
}


.page-mid div.title-holder{
    display: grid;

    text-align: right;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 50%;
    min-height: 75vh;

    margin: 5vh;
}
.page-mid div.title-holder h1{
    color: #FFD369;
    margin: 4vh;
    font-size: 140px;
    font-family: "Outfit-Black" ,sans-serif;
}
.page-mid div.title-holder p{
    color: white;
    margin: 4vh;
    font-size: 20px;
    font-family: "Outfit-Medium" ,sans-serif;
}



.page-mid div.img-holder{
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 50%;
    min-height: 90vh;
}
.page-mid div.img-holder div.img {
    background-image: url(Assets/Images/BG.jpg);
    background-position: center;
    background-size: 100vh;

    width: 70%;
    min-height: 70vh;

    border-radius:40% 75% 40% 75% / 75% 40% 75% 40% ;

    box-shadow: 0px 0px 8px white;

}



/* Footer */
.footer{
    border-top: 1px solid white;;

    background-color: #222831;

    padding-top: 0vh;
    display: flex;
    
    justify-content: end;
    align-items: end;
    align-content: end;

    width: 100%;
    min-height: 10vh;

    font-size: 20px;
    font-family: "Outfit-Medium" ,sans-serif;

    
}
.footer div.title-holder{


    

    align-items: center;
    justify-content: center;
    align-content: center;
    text-align:center;

    display: flex;
    float: left;
}
.footer div.title-holder p{
    margin-left: 30vh;
    margin-right: 30vh;
    color: white;
}

.footer div.title-holder a{

    text-decoration: none;
}
a:link {
    color: rgb(255, 255, 255);
  }
  
  /* visited link */
  a:visited {
    color: rgb(255, 255, 255);
  }
  
  /* mouse over link */
  a:hover {
    color: #FFD369;
  }
  
  /* selected link */
  a:active {
    color: rgb(255, 255, 255);
  }